<!--Comienzo de la Seccion Acerca de-->

<section class="Experiencias">
    <div class="container-fluid">
      <div class="row">
          <div class="col" style="margin-top: -80px; margin-left: 10px;">
              <img src="../assets/foto-perfil-modified.png" alt="Foto">
              <i class="fa-solid fa-pen-to-square foto-perfil edit"></i>
          </div>
          <div class="col-11" style="margin-top: 30px; margin-left: 20px;">
            <div class="title">
              <h3>Full Stack Web Developer Jr</h3>
              <i class="fa-solid fa-pen-to-square edit"></i>
            </div>
            <p>Estudiante de Sistemas, con un gran interes en Desarrollo de Sofware. 
              Con capacidad para aprender y aplicar mis conocimientos al ámbito profesional. 
              En busca de una oportunidad laboral en la que pueda demostrar y desarrollar mis habilidades y adquirir experiencia.</p>
              <p>Desarrollador con una amplia experiencia e companias del sector. Capaz de asumir responsabilidades
              y realizar un análisis de Sistemas para tomar la mejor decisión.
              Con óptimas habilidades para fomentar las relaciones con los clientes
              mediante una comunicación cuidada orientada a garantizar su fidelización.
            </p>
          </div>
          <div class="col-1" style="margin-left: -120px; margin-top: 40px; " >
            <i class="fa-solid fa-pen-to-square edit"></i>
            <i class="fa-regular fa-rectangle-xmark edit" style="margin-left: 10px;"></i>
          </div>
      </div>
    </div>

<!--Fin de la Seccion Acerca de-->