<!--Comienzo de la Seccion Footer--> 

<footer class="bg-blue text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/juanmanuel.brossard/"
          role="button"
          ><i class="fab fa-facebook-f"></i></a>
    
        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="https://twitter.com/jmbross"
          role="button"
          ><i class="fab fa-twitter"></i></a>
    
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com/skynet.dev/"
          role="button"
          ><i class="fab fa-instagram"></i></a>
    
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/juan-manuel-brossard/"
          role="button"
          ><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/jmbross"
          role="button"
          ><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 97, 189, 0.911);">
      © 2022 Copyright:
      <a class="text-black" href="#">Skynet-Dev</a>
    </div>
    <!-- Copyright -->
    </footer>
    <!--Fin de la Seccion Footer-->