<!--Comienzo de la Seccion Experiencias-->      
<div class="container-fluid">
    <h3 style="color: rgb(45, 45, 180); margin: 30px; text-align: center; ">Experiencias</h3> 
  </div>

  <section class="experiencias">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-1" style="color: rgb(45, 45, 180); display: inline; margin-bottom: 20px; ">
          <img src="../assets/logoskynet.jpg" alt="" style="display: block; margin:20px; margin-left: 50px;" >
        </div>
          
        <div class="col-9" style="display: inline; margin-left: 160px; ">
            <div class="card" style="height: 90%; background-color:transparent; ">
                <div class="card-body" style="background-color:transparent; width: 90%;">
                <h5 class="card-title">Desarrollador de Software -- Skynet.Dev -- (02-2006-actualmente)</h5>
                <span class="card-text">
                  <ul>
                    <li>
                      Diseño de interfaces de usuario, además de diseño Web con HTML, CSS, JavaScripts, Bootstrap, PHP, Python y Angular.
                    </li>
                    <li>
                      Desarrollo de Bases de Datos MySQL.
                    </li>
                    <li>
                      Trabajo con equipos de investigación para definir y ejecutar los desarrollos de cada una de las fases de los proyectos.
                    </li>
                    <li>
                      Formado para analizar los requisitos e implementar sistemas para brindar soluciones de ciclo de vida de sistemas completos.
                    </li>
                  </ul>
                </span>
                </div>
            </div>
        </div>
          
        <div class="col-1" style="margin: -80px; margin-top: 3px; " >
          <i class="fa-solid fa-pen-to-square edit"></i>
          <i class="fa-regular fa-rectangle-xmark edit" style="margin-left: 10px;"></i>
        </div>
      </div>
    </div>
  </section>

  <section class="experiencias">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-1" style="color: rgb(45, 45, 180); display: inline; margin-bottom: 20px; margin-left: 30px; ">
          <img src="../assets/logo-cge.png" alt="CGE" style="margin-left: 20px; margin-top: 15px;" >
        </div>
          
        <div class="col-9" style="display: inline; margin-left: 130px; ">
            <div class="card" style="height: 90%; background-color:transparent; ">
                <div class="card-body" style="background-color:transparent; width: 90%;">
                <h5 class="card-title">Referente Técnico -- Consejo General de Educación de Entre Ríos -- (02-2011--12-2020)</h5>
                <span class="card-text">
                  <ul>
                    <li>
                      Administrar el servidor, la infraestructura de red y la conexión de Internet del establecimiento.
                    </li>
                    <li>
                      Acompañar y asesorar al equipo directivo en la toma de desiciones referentes a las tecnologias usadas.
                    </li>
                    <li>
                      Capacitar y acompañar a los docentes en la planificacion y ejecución de Proyectos aplicando Tecnologias de la Información y la comunicación.
                    </li>
                  </ul>
                </span>
                </div>
            </div>
        </div>
          
        <div class="col-1" style="margin: -80px; margin-top: 3px; " >
          <i class="fa-solid fa-pen-to-square edit"></i>
          <i class="fa-regular fa-rectangle-xmark edit" style="margin-left: 10px;"></i>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="experiencias">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-1" style="display: inline; margin-bottom: 20px;  margin-top: 30px">
          <img src="../assets/logo-cs-y-tech2.jfif" alt="CGE" style="margin-left: 10px; margin-top: 15px;" >
        </div>
          
        <div class="col-9" style="display: inline; margin-left: 160px;; ">
            <div class="card" style="height: 90%; background-color:transparent; ">
                <div class="card-body" style="background-color:transparent; width: 90%;">
                <h5 class="card-title">Referente Técnico -- Consejo General de Educación de Entre Ríos -- (02-2011--12-2020)</h5>
                <span class="card-text">
                  <ul>
                    <li>
                      Administrar el servidor, la infraestructura de red y la conexión de Internet del establecimiento.
                    </li>
                    <li>
                      Acompañar y asesorar al equipo directivo en la toma de desiciones referentes a las tecnologias usadas.
                    </li>
                    <li>
                      Capacitar y acompañar a los docentes en la planificacion y ejecución de Proyectos aplicando Tecnologias de la Información y la comunicación.
                    </li>
                  </ul>
                </span>
                </div>
            </div>
        </div>
          
          <div class="col-1" style="margin: -80px; margin-top: 3px; " >
            <i class="fa-solid fa-pen-to-square edit"></i>
            <i class="fa-regular fa-rectangle-xmark edit" style="margin-left: 10px;"></i>
          </div>
      </div>
    </div>
  </section>
<!--Fin de la Seccion Experiencias-->