<!--Comienzo de la Seccion Hard & Soft Skills-->
<div class="container-fluid">
    <h3 style="color: rgb(45, 45, 180); margin: 30px; text-align: center; ">Hard & Soft Skills</h3> 
    </div>
    
    <section class="skills">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress blue">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">HTML</div>
              </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
              <div class="progress yellow">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">CSS</div>
              </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
              <div class="progress pink">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">JavaScripts</div>
              </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">PHP</div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress purple">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">MySQL</div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress orange">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Bootstrap</div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress coral">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">Angular</div>
              </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
              <div class="progress magenta">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">Node.Js</div>
              </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
              <div class="progress brown">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">Python</div>
              </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress indigo">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Inglés</div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress lima">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Trabajo en equipo</div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-lg-2">
            <div class="progress orangeRed">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Comunicación</div>
            </div>
          </div>
    </div>
    </section>
    <!--Fin de la Seccion Hard & Soft Skills-->