/*--------------------Principio del CSS de Proyectos Realizados--------------------*/
  
.proyect{
    margin: 10px;
    align-items: center;
    }
    .card{
      padding: 10px;
    }
    .card-title{
      text-align: center;
      padding-top: 20px;
    }
    .card-text{
      text-decoration-style: double;
    }
    /*--------------------Fin del CSS de Proyectos Realizados--------------------*/