<!--Comienzo de la Seccion Proyectos-->
<div class="container-fluid">
    <h3 style="color: rgb(45, 45, 180); margin: 30px; text-align: center; margin-top: 50px; margin-bottom: 50px; ">Proyectos Realizados</h3> 
    
    <div class="row row-cols-1 row-cols-md-1">
      <div class="col-6 proyect">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sistema de Reservas Online</h4>
            <p class="card-text">Sistemas de Reservas online realizado en HTML, CSS, JS, utilizando Bootstrap, PHP y MySQL</p>
            <a href="https://reservasagmer.com.ar/">Reservas Agmer</a>
          </div>
          <img src="../assets/reservas-agmer.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-1">
      <div class="col-6 proyect">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sistema de Asistencias de Empleados</h4>
            <p class="card-text">Sistemas de Asistencia de empleados realizado en C# .NET, Windows Forms, Servidor local Apache y Base de Datos MySQL</p>
            <a href="http://asistenciapersonalagmer.com.ar/">Sistema de Asistencias Online</a>
          </div>
          <img src="../assets/asistenciapersonalagmer.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-1">
      <div class="col-6 proyect">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Portfolio Personal</h4>
            <p class="card-text">Portfolio Personal realizado en HTMl, CSS, JavaScripts, TypeScript, Angular para el frontend y Java, springboot y MySQL para el backend</p>
            <a href="#">Sistema de Asistencias Online</a>
          </div>
          <img src="../assets/porfolio.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    </div>  
    <!--Fin de la Seccion Proyectos-->   